@font-face {
  font-family: Armata;
  src: url('/static/fonts/Armata-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: Quicksand;
  src: url('/static/fonts/Quicksand-Regular.otf');
}
@font-face {
  font-family: 'Quicksand Bold';
  src: url('/static/fonts/Quicksand-Bold.otf');
}
@font-face {
  font-family: 'Quicksand Light';
  src: url('/static/fonts/Quicksand-Light.otf');
}
@font-face {
  font-family: 'Quicksand Dash';
  src: url('/static/fonts/Quicksand_Dash.otf');
}
@font-face {
  font-family: AftaSans;
  src: url('/static/fonts/AftaSansThin-Regular.otf');
}
@font-face {
  font-family: DuruSans;
  src: url('/static/fonts/DuruSans-Regular.otf');
}
@font-face {
  font-family: HansKendrick;
  src: url('/static/fonts/HansKendrick-Regular.otf');
}
@font-face {
  font-family: Anke;
  src: url('/static/fonts/Anke.otf');
}

body {
  font-family: DuruSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
  //padding-top: 40px;
  padding-bottom: 0px;
  font-size: 14px;
}
h1,
h2 {
  font-family: AftaSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px #f1f1f1;
  text-transform: uppercase;
  color: rgb(89, 99, 172);
}
h1 {
  font-size: 27px;
}
h3, h4, h5, h6 {
  text-transform: uppercase;
}
a {
  color: #4F5AA7;
}
#main-content {
  float: left;
  background-color: #fff;
  min-height: 500px;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #dadada;
  -moz-box-shadow: 0px 0px 3px #dadada;
  -webkit-box-shadow: 0px 0px 3px #dadada;
  //border-left: solid 1px #d1d1d1;
  border-bottom: solid 1px #ccc;
}
.article{
  margin-bottom: 20px;
}
.article ul, 
.article ol {
  margin-left: 30px;
}
.article li {
  list-style: inherit;
}
#right-column {
  float: right;
  font-family: AftaSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
  padding-top: 15px;
  padding-left: 20px;
}
#right-column > ul {
  padding-left: 10px;
  
}
#article-stats {
  padding-top: 5px;
}
#article-stats > div {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#article-stats > div > span {
  padding-right: 5px;
}
.article-image {
  text-align: center;
  padding: 0px;
}
.article-image img {
  margin: 10px 0px; 
  border: solid 1px #e1e1e1;
  padding: 3px; 
  max-width: 100%;
}
#article-top-meta {
  margin-top: -20px;
  margin-bottom: 10px; 
  font-size: 11px;
  color: #aaa;
}
#article-top-meta ul {
  list-style-type: none;
  padding: 0px;
}
#article-top-meta ul > li {
  //display: inline; 
  padding-right: 20px;
}
.article-description {
  //font-family: Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Anker, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px 0px;
}
#article-meta {
  font-size: 13px;
}
#article-meta .share-this {
  padding: 0px;
  text-align: right;
}
.navbar, 
footer {
  font-family: Armata, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-fixed-top a {
  padding: 10px 15px !important;
}
footer {
  padding: 10px 0px;
  text-align: right;
  color: #aaa;
  font-size: 12px;
}
footer > div {
  padding-right: 0px !important;
}
#article-stats .glyphicon {
  color: #ccc;
  margin-right: 10px;
}
#bottom-next-prev {
  padding: 13px 0px;
  font-size: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#bottom-next-prev .next-article,
#bottom-next-prev .previous-article {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
}
#bottom-next-prev .next-article {
  float: right;
  text-align: right;
}
#bottom-next-prev .previous-article {
  float: left;
}
#bottom-next-prev .next-article .glyphicon {
  color: #ccc;
  margin-left: 5px;
}
#bottom-next-prev .previous-article .glyphicon {
  color: #ccc;
  margin-right: 5px;
}
.article-tags a {
  color: #777;
}
.top-banner {
  //background-color: #333;
  background: url(/static/img/darkdenim3.png);
  text-align: center;
  height: 160px;
  padding-top: 15px;
  overflow: hidden;
}
.top-banner img {
  border: 1px solid #222;
  margin: auto;
}
.top-nav {
  border-top: 1px solid black;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 1px 3px rgb(226, 226, 226);
  -moz-box-shadow: 0px 1px 3px rgb(226, 226, 226);
  -webkit-box-shadow: 0px 1px 3px rgb(226, 226, 226);
  text-transform: uppercase;
  background: url(/static/img/topnav.png);
  margin-left: 0px;
  margin-right: 0px;
}
#header .top-nav a {
  padding-top: 11px;
  padding-bottom: 11px;
}
.top-nav ul {
  font-family: AftaSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.top-nav .navbar-brand {
  padding: 11px 0px;
  font-size: 18px;
  font-weight: bold;
}
.top-nav .navbar-nav a {
  color: #03137E;
}
#big-boss {
  margin-top: 15px;
}
.side-content {
  margin: 30px 0px 5px 0px;
}
.side-content .box-header {
  text-align: right;
  border-bottom: 1px dashed #ddd;
}
h5.box-header {
  font-size: 12px;
  margin-top: 15px;
  padding-bottom: 5px;
  color: #777;
}
.side-content ul {
  list-style: none;
  padding: 0px;
}
.side-content .entry-small {
  //border-bottom: 1px solid #fafafa;
}
.side-content .related-articles li {
  margin: 5px 0px;
}
.entry-small .entry-images {
  float: right;
  text-align: right;
  padding: 0;
}
.entry-small .entry-title {
  float: left;
  padding: 5px 0px 5px 8px; 
}
.entry-small .entry-images img {
  margin-right: 0px;
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 3px;
}
.bottom-content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.row-even {
  background-color: #f9f9f9;
}

/* GENERAL ARTICLE */

.entry-title {
  font-family: Cantarell;
  font-size: 14px;
  margin-bottom: 5px;
}
.entry-date {
  margin-top: 5px;
  font-family: DuruSans;
  font-size: 80%; 
  color: #aaa;
}
.entry-description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.entry-category {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 5px;
}
.entry-cover {
  margin: 10px 0;
}

/* HOME PAGE */

.cat-block {
  display: block;
  padding: 5px;
}
.cat-block-inner {
  background-color: #fafafa;
  box-shadow: 1px 1px 4px #ccc;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  padding: 5px 10px;
  overflow: hidden;
  min-height: 190px;
}
#categories-latests {
  overflow: hidden;
  margin-bottom: 15px;
}
#home-latests {
  background: #fafafa;
  padding: 5px 20px;
}
#home-latests h5 {
  font-family: 'Quicksand Light';
}

/* LIST VIEWS */

.article-list-entry {
  margin-bottom: 25px;
}
.entry-topline {
  border-top: 1px solid #ffde99; 
  margin: 15px 0px 0px;
  line-height: 18px;
  color: #999;
}
.entry-topline h6 {
  font-family: Quicksand;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
}
.article-list-entry h4 {
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: inherit;
  font-family: Anke, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* SOCIAL LINKS */

.social-tiny li {
  padding: 0px;
}
.social-fb {
  background-color: #3B5998;
}
.social-gp {
  background-color: #d14836;
}
.social-tw {
  background-color: #00aced;
}
