Django<1.5
South==0.8.4
django-articles==2.4.1
ipython==1.2.0
wsgiref==0.1.2
gunicorn==18.0
django-tinymce==1.5.2
django-compressor==1.3
sorl-thumbnail
django-debug-toolbar
django_extensions
Pillow
django-facebook==6.0.1
