{% load i18n humanize %}

<div id="article-top-meta">

  <ul> 
    <li class="published"><span>{% trans 'Published' %}</span>: {{ article.publish_date|naturalday }}</li>
    <li class="author"><span>{% trans 'Author' %}</span>: <a href="{% url articles_by_author article.author.username %}" title="{% trans 'Read other articles by this author' %}">{{ article.author.get_name }}</a></li>
    {% comment %}
    {% if article.use_addthis_button and article.addthis_username %}
    <!-- AddThis Button BEGIN -->
    <li>
        <script type="application/javascript">var addthis_pub="{{ article.addthis_username }}";</script>
        <a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
        <script type="application/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script>
    </li>
    <!-- AddThis Button END -->
    {% endif %}
    <script type="application/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    {% endcomment %}
  </ul>

</div>
<div class="clear"></div>

