{% extends 'articles/base.html' %}
{% load i18n %}
{% load magazine_tags %}

{% block title %}{% trans article.title %}{% endblock %}
{% block meta-keywords %}{{ article.keywords|escape }}, {{ block.super }}{% endblock %}
{% block meta-description %}{{ article.description|escape }} {{ block.super }}{% endblock %}
{% block extra-head %}
    {{ block.super }}
    {% for tag in article.tags.all %}
    <link rel="alternate" type="application/rss+xml" title="Blog Articles Tagged '{{ tag.name }}' RSS Feed" href="{% url articles_rss_feed_tag tag.rss_name %}" />
    <link rel="alternate" type="application/atom+xml" title="Blog Articles Tagged '{{ tag.name }}' Atom Feed" href="{% url articles_atom_feed_tag tag.rss_name %}" />{% endfor %}
{% endblock %}


{% block articles-content %}

    {% include 'articles/_article_content.html' %}
    {% include 'articles/_meta.html' %}
    {% include 'articles/_comments.html' %}

{% endblock %}


{% block right-content %}

    <div id="article-stats">
        {% if article.tags.count %}
            <div class="article-tags">
                <span class="glyphicon glyphicon-tags"></span>
                {% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="side-content">
        {% if article.get_next_article %}
        <div class="next-article">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a class="entry-title" href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article.title|truncatewords:7 }}</a>
        </div>
        {% endif %}

        {% if article.get_previous_article and article.get_previous_article != article.get_next_article %}
        <div class="previous-article">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <a class="entry-title" href="{{ article.get_previous_article.get_absolute_url }}">{{ article.get_previous_article.title|truncatewords:7 }}</a>
        </div>
        {% endif %}
    </div>

    {% if article.related_articles.live.count %}
    <div class="side-content">
        <h5 class="box-header">{% trans 'Related Articles' %}</h5>
        {% for ra in article.related_articles.live %}
        {% if forloop.first %}<ul class="related-articles">{% endif %}
            <li class="{% cycle 'row-even' 'row-odd' %}"> {% include 'partials/article_entry_small.html' with article=ra %} </li>
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="side-content">
        <h5 class="box-header">{% trans 'Latest Articles' %}</h5>
        {% get_latest_articles 5 as latest_articles %} 
        {% for ra in latest_articles %}
            {% if forloop.first %}<ul class="related-articles">{% endif %}
                <li class="{% cycle 'row-even' 'row-odd' %}"> {% include 'partials/article_entry_small.html' with article=ra %} </li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </div>

    {% comment %}
    <h5 class="title">{% trans 'Archives' %}</h5>
    {% get_article_archives as archives %}
    {% for year in archives %}
    {% if forloop.first %}<ul>{% endif %}
        <li>
            <strong>{{ year.0 }}</strong>
            <ul class="months">
            {% for month in year.1 %}
                <li><a href="{% url articles_in_month month.year,month.month %}" title="{% trans 'View articles posted in this month' %}">{{ month|date:"F" }}</a></li>
            {% endfor %}
            </ul>
            <div class="clear">&nbsp;</div>
        </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    {% endcomment %}

{% endblock %}
