{% extends 'base.html' %}
{% load article_tags i18n staticfiles %}
{% load i18n humanize %}

{% block extra-head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">

    <link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="{% url articles_rss_feed_latest %}" />
    <link rel="alternate" type="application/atom+xml" title="Latest Blog Articles Atom Feed" href="{% url articles_atom_feed_latest %}" />
{% endblock %}

{% block content %}

<div class="row">

    <div id="main-content" class="col-sm-9 col-md-9 col-lg-9">
    {% block articles-content %}{% endblock %}
    </div>

    <div id="right-column" class="col-sm-3 col-md-3 col-lg-3">
        {% block right-content %}{% endblock %}
    </div>

</div>

<div class="clearfix"></div>

{% if paginator and page_obj %}
{% ifnotequal paginator.page_range|length 1 %}
{% for p in paginator.page_range %}
{% if forloop.first %}<ul class="pagination-pages">
{% if page_obj.has_previous %}
    <li><a href="{% get_page_url 1 %}">&laquo;</a></li>
    <li><a href="{% get_page_url page_obj.previous_page_number %}">&lsaquo;</a></li>
{% endif %}
{% endif %}
    <li><a href="{% get_page_url p %}"{% ifequal p page_obj.number %} class="current-page"{% endifequal %}>{{ p }}</a></li>
{% if forloop.last %}
{% if page_obj.has_next %}
    <li><a href="{% get_page_url page_obj.next_page_number %}">&rsaquo;</a></li>
    <li><a href="{% get_page_url paginator.num_pages %}">&raquo;</a></li>
{% endif %}
</ul>{% endif %}
{% endfor %}
{% endifnotequal %}
{% endif %}

{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

