{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% comment %}
{% block title %}{% trans 'Articles' %}{% endblock %}
{% endcomment %}

{% block content %}

<div id="categories-latests" class="row">
    {% for cat_latest in categories_latest %}
    <div class="col-sm-2 cat-block">
      <div class="cat-block-inner">
        <div class="entry-category"><a href="{% url category_view cat_latest.1 %}">{{ cat_latest.2 }}</a></div>
        {% with article=cat_latest.3.0 %}
          <div class="entry-cover">
          {% if article.attachments.count %}
            {% thumbnail article.attachments.all.0.attachment "168x100" crop="center" as thumb %}
              <a href="{{ article.get_absolute_url }}" title="{% trans 'Read this related article' %}">
              <img class="thumbnail" src="{{ thumb.url }}">
              </a>
            {% endthumbnail %}
          {% endif %}
          </div>
          <div class="entry-title">
            <a href="{{ article.get_absolute_url }}" title="{% trans 'Read this related article' %}">{{ article.title|truncatewords:6 }}</a> 
          </div>
        {% endwith %}
      </div>
    </div>
    {% endfor %}
</div>

<div class="row home-columns">
    <div class="col-sm-2">
      <div id="home-left" class="home-column">
        <h5>FEATURED</h5>
        <ul class="list-unstyled">
          {% for article in latest %}
            <li><span class="entry-title">{{ article.title }}</span></li>
          {% endfor %}
        </ul>
      </div>

      <div id="home-left" class="home-column">
        <h5>FEATURED</h5>
      </div>
    </div>

    <div id="home-latests" class="col-sm-7 home-column">
        <h5>LATEST</h5>
        {% for article in latest %}
        <div class="article-list-entry">
            <div class="row entry-topline">
               <h6 class="pull-left col-sm-6">
                 {% for cat in article.categories.all %}{{ cat.name }}{% if not forloop.last %} &nbsp;&bull;&nbsp; {% endif %}{% endfor %}
               </h6>
               <ul class="social-tiny list-inline pull-right">
                  <li><img class="social-fb" src="{{ STATIC_URL }}/img/social/facebook-16.png"></li>
                  <li><img class="social-gp" src="{{ STATIC_URL }}/img/social/googleplus-16.png"></li>
                  <li><img class="social-tw" src="{{ STATIC_URL }}/img/social/twitter-16.png"></li>
               </ul>
            </div>
            <div class="entry-title">
                <a href="{{ article.get_absolute_url }}" title="{% trans 'Read this related article' %}">
                    <h4>{{ article.title }}</h4>
                </a> 
            </div>
            <div class="entry-cover">
            {% if article.attachments.count %}
            {% thumbnail article.attachments.all.0.attachment "640x350" crop="center" as thumb %}
                <a href="{{ article.get_absolute_url }}" title=""> <img src="{{ thumb.url }}"> </a>
            {% endthumbnail %}
            {% endif %}
            </div>
            <div class="entry-description">
            {{ article.description }}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-sm-3">
      <div id="home-right" class="home-column">
        <h5>SINGLE PICTURE</h5>
      </div>
    </div>
</div>

{% endblock %}
